<!DOCTYPE html>
<meta charset="UTF-8">
<label for="firstname">Firstname:</label>

<input id="firstname" name="student[firstname]" type="text" value="<%= @student.firstname  %>"  />

<label for="lastname">Lastname:</label>

<input id="lastname" name="student[lastname]" type="text" value="<%= @student.lastname %>" />

<label for="idshow">ID:</label>

<input id="id" name="student[idshow]" type="number" value="<%= @student.idshow %>" />

<label for="birthday">Date(mm/dd/yyyy):</label>

<input type="date" id="birthday" name="student[birthday]"  value="<%= @student.birthday.strftime("%Y/%m/%d")  if @student.birthday %>"/>

<label for="address">Address:</label>
<br>
<textarea  row="2" cols="50" id="address" name="student[address]"><%= @student.address %>
</textarea>
<br><br>

<input type="submit" value="Save Student" />

